.newBlogForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.newBlogForm input {
    width: 30%; /* Määritä haluamasi leveys, esim. 300px tai 50% */
  }
.newBlogForm button {
    width: 10%; /* Määritä haluamasi leveys, esim. 300px tai 50% */
  }